<div fxLayout="column" class="components-container-gt-xs" [ngClass.xs]="'components-container-xs'" fxLayoutGap="20px">
    <div fxFlex class="table-component-holder mat-elevation-z4">
        <mat-toolbar class="table-header mat-primary">
            <h1 class="mat-headline center-align">Hotel List</h1>
        </mat-toolbar>

            <div class="example-header"  style="padding: 0 20px;">
                <mat-form-field floatPlaceholder="never" style="color: black; width: 90%;">
                    <input matInput label="Filter" #filter placeholder="Filter Data...">
                </mat-form-field>
            </div>

            <div class="table-container example-container mat-elevation-z8">
                <mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.name}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="hostname">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Host Name</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.hostname}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="nbgname">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Neighbourhood Group</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.nbgname}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="nbname">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Neighbourhood</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.nbname}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="lat">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Latitude</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.lat}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="long">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Longitude</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.long}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="roomType">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Room Type</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.roomType}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="price">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.price}}</mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="headerNames,sticky: true"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: headerNames;" (click)="getSelectedData(row)"></mat-row>
                </mat-table>
                <mat-paginator #paginator
                               [length]="columnsToDisplay?.length"
                               [pageIndex]="0"
                               [pageSize]="10"
                               [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
            </div>
    </div>
</div>


